*{
    box-sizing: border-box;
    margin: 0;
    
}

body{
    max-width: 1400px;
    margin: auto;
    padding: 30px;
    max-height: 1500px ;
}


h2{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-bottom: 5%;
}

h3{
    text-align: center;
}

h4{
    font-size: 35px;
    color: blue;
    text-align: center;
}

h5{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
}


H1{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    text-align: center;
}



header{
    margin: 0;
    position: fixed;
    width: 100%;
}

p{
    margin: 10px;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 25px;
}

/* section {
    margin-top: 5%;
} */


#recuerdos{
    background-image: url(BancoImag/rutaarboles1.jpg);
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    flex-direction: column;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;

}


button{
    font-size: 1em;
    padding: 15;
    border-radius: 10px;
    border: 1px solid rgba(14, 13, 13, 0.5);
    box-shadow: 4px 4px 20px rgb(243, 129, 129);
    color: rgb(29, 13, 248);
    background-color: rgb(82, 240, 240);
    margin: 10px;
    
}

button:hover{
    color: rgb(72, 255, 194);
    font-size: 1em;
    /* font-weight: bold; */
    border:1px solid rgb(0,255,0);

    background-color: rgb(3, 3, 252);
    box-shadow: 4px 4px 20px rgb(14, 138, 3);
}


.carta{
    color: aliceblue;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
}

ul{list-style: none;}

.cartaclubesamigos{
    font-size: 1.5em;
    font-weight: bold;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,.7),
        rgba(0,0,0,.7)
    )
    ,url("BancoImag/amigos.jpg");
}

.cartaobjetivos{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("BancoImag/fogon3.jpg");
}

.cartabeneficios{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("BancoImag/amigos.jpg");

}

.rodadaslibres{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("BancoImag/montaña2.jpg");

}

.rodadasorganizadas{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("BancoImag/montaña3.jpg");

}

.eventosysugerencias{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("BancoImag/eventos.jpg");

}

label{
    font-size: 20px;
    font-weight: bold;
    color: blue;
    text-align: center;
}

input{
    font-size: 20px;
    font-weight: bold;
    color: rgb(247, 5, 5);
    text-align: left;
    margin: 10px;
}


@media (min-width: 700px){

    .club{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .viajes{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .adentro{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    

}




